name: C++ UT runner

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: list
      run: pwd && ls
    - name: pull docker
      run: docker pull matgla/cpp_gcc:1.0.0
    - name: run docker
      run: docker run -i matgla/cpp_gcc /bin/echo I am working
